:root {
  --white: #fff;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --slate: #434455;
  --navyblue: #2e2f42;
}
/* Common styles */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate, #434455);
  background-color: var(--white);
}
/* Resets */

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}
/* Header styles */
.header {
}
.header-nav {
}
.header-logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-span {
  color: var(--navyblue, #2e2f42);
}
.header-list {
}
.header-item {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* Hero styles */
.hero-section {
  background-color: var(--navyblue, #2e2f42);
}

.hero-title {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero-btn {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris, #4d5ae5);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean, #404bbf);
}
/* Benefits styles */
.benef-section {
}
.benef-list {
}
.benef-item {
}
.benef-hading {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benef-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* What doing styles */
.doing-section {
}
.doing-heading {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.doing-list {
}
.doing-item {
}
/* team card styles */
.team-section {
  background-color: var(--cloud, #f4f4fd);
}
.team-heading {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.team-list {
}
.team-item {
  background-color: var(--white, #fff);
}
.card-heading {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Footer-styles */
.footer {
  background-color: var(--navyblue, #2e2f42);
}
.footer-logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.foot-logo {
  color: var(--cloud, #f4f4fd);
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* PORTFOLIO */
/* PORTFOLIO */
/* PORTFOLIO */
/* Filter-styles */
.filter-list {
}
.list {
}
.filter-btn {
}
.filter-btn-text {
  color: var(--iris, #4d5ae5);
  background-color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.filter-btn-text:hover,
.filter-btn-text:focus {
  background-color: var(--ocean, #404bbf);
  color: var(--white, #fff);
}
/* Progect styles */
.project-item {
}
.project-link {
}
.project-heading {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.project-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
